<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/DivyashSinghHura/IdeaProjects/DemoMaven/src/test/java/Main/Launch_Browser.java">
        <classes>
            <class name="Main.Launch_Browser">
                <methods>
                    <include name="Login"/>
                    <include name="VerifyPage"/>
                    <include name="Logout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>